@model Portal.WRC.Total.com.Models.Noticia

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ntc_titulo_noticia" class="control-label"></label>
                <input asp-for="ntc_titulo_noticia" class="form-control" />
                <span asp-validation-for="ntc_titulo_noticia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ntc_curta_descricao" class="control-label"></label>
                <input asp-for="ntc_curta_descricao" class="form-control" />
                <span asp-validation-for="ntc_curta_descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ntc_texto_noticia" class="control-label"></label>
                <input asp-for="ntc_texto_noticia" class="form-control" />
                <span asp-validation-for="ntc_texto_noticia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ntc_pais_rally" class="control-label"></label>
                <input asp-for="ntc_pais_rally" class="form-control" />
                <span asp-validation-for="ntc_pais_rally" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ntc_data_insercao" class="control-label"></label>
                <input asp-for="ntc_data_insercao" class="form-control" />
                <span asp-validation-for="ntc_data_insercao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ntc_data_atualizacao" class="control-label"></label>
                <input asp-for="ntc_data_atualizacao" class="form-control" />
                <span asp-validation-for="ntc_data_atualizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
