@model Portal.WRC.Total.com.Models.Noticia

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ntc_titulo_noticia" class="control-label">Título</label>
                <input asp-for="ntc_titulo_noticia" class="form-control" />
                <span asp-validation-for="ntc_titulo_noticia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ntc_curta_descricao" class="control-label">Descrição</label>
                <input asp-for="ntc_curta_descricao" class="form-control" />
                <span asp-validation-for="ntc_curta_descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ntc_texto_noticia" class="control-label">Texto na íntegra:</label>
               
                <textarea asp-for="ntc_texto_noticia" class="form-control"></textarea>
                <span asp-validation-for="ntc_texto_noticia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ntc_pais_rally" class="control-label">País</label>
                <input asp-for="ntc_pais_rally" class="form-control" />
                <span asp-validation-for="ntc_pais_rally" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
