@model Portal.WRC.Total.com.Models.Noticia

@{
    ViewData["Title"] = "RetornarSoUm";
}

<table>
<tbody>
  
    <tr>
        <td>
            <h3>@Html.DisplayFor(modelItem => modelItem.ntc_titulo_noticia)</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h4>@Html.DisplayFor(modelItem => modelItem.ntc_texto_noticia)</h4>
        </td>
    </tr>   
       
</tbody>
</table>
