@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal.WRC.Total.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Sobre o WRC</h1>
        <h4>WRC é o topo do Rally Mundial</h4>
        <h5 style="text-align: center;">
            World Rally Championship (Em tradução PT-BR, Campeonato Mundial de Rali) é o campeonato número um de Rali no mundo, pilotos, co-pilotos e equipes 
            disputam nos quatro cantos do planeta em diversos tipos de terreno; Asfalto, Terra, Neve, Lama; e nos mais diversos cenários; desertos, planicíes geladas, 
            montanhas escarpadas; culminando em um campeão de pilotos e co-pilotos e uma fabricante vencedora.
        </h5>

        <table>
            <tr>
                <td>
                    <img src="~/videos/gifHyundaiI20.gif" />
                </td>
                <td>
                    <img src="~/videos/gifCascalho.gif" />
                </td>
            </tr>
             
            <tr style="text-align: center;">
                <td>
                    <video controls autoplay>
                        <source src="/videos/ottTanakJump.mp4" type="video/mp4">
                    </video>
                </td>
                <td>
                    <img src="~/videos/gifI20.gif" />
                </td>
            </tr>
             
        </table>

        <div>
          <h5>Conheça um pouco da máquina do WRC:</h5>
        </div>
        <img id="imagem_logo_index" src="~/imgs/imgsCarro/photo_interior_01.jpg" />
    </div>
</body>