
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<section>
    <h6>
        Compartilhe nas redes sociais:
    </h6>
    <a class="btn btn-info" href="">Linkedin</a>
    <a class="btn btn-primary" href="">Telegram</a>
    <a class="btn btn-success" href="">WhatsApp</a>
    <a class="btn btn-primary" href="">Twitter</a>
    <a class="btn btn-info" href="">Facebook</a>
    <a class="btn btn-danger" href="">Youtube</a>

</section>